* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  place-content: center;
  background-color: cadetblue;
  height: 100vh;
  width: 100%;
}

.keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  height: 50px;
  width: 50px;
  background-color: rgb(104, 104, 255);
  padding: 10px;
  margin: 9px;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem black;
  user-select: none;
  border: none;
  font-size: 1.5rem;
  color: #fff;
}

.back-space,
.caps,
.enter,
.shift,
.space-bar {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.back-space {
  width: auto;
}

.caps {
  width: auto;
}

.enter {
  width: auto;
}

.shift {
  width: auto;
}

.space-bar {
  width: 470px;
}

.textarea {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 100%;
  border: 2px solid rgb(104, 104, 255);
  border-radius: 0.5rem;
  height: 150px;
  resize: none;
  padding: 0.5rem;
  outline: none;
  font-size: 1.5rem;
}

.upper {
  text-transform: capitalize;
}
